.header {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #0d4877 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group {
    margin: 0px 100px;
}

.btn {    
    color: #f9f9f9;
    background-color: #007bff !important;
}

.animated-line {
    width:500px;
    font-family: "Arial", sans-serif;
}

.individual-letter {
    color: #f9f9f9;
    font-size: larger;
    font-weight: bolder;
}

.page-links {
    text-decoration: none;
    color: #f9f9f9;
}
.page-links-data:hover {
	transform: scale(1.05);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
    background-color: rgb(44, 115, 174) !important;
}

