.header {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #0d4877 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group {
    margin: 0px 100px;
}

.btn {    
    background-color: rgb(44, 115, 174) !important;
}

.animated-line {
    width:500px;
}

.individual-letter {
    color: rgba(255,51,51,0.9);
    font-size: larger;
    font-weight: bolder;
}

.page-links {
    text-decoration: none;
    color: rgba(255,51,51,0.9);
}

.dropdown-menu {
    background-color: rgb(44, 115, 174) !important;
}